<head th:fragment="base_header(title)" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8" />
    <link href="/static/css/training.css" th:href="@{/css/training.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <script src="/static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="/static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <title th:replace="${title}">The awesome application</title>
</head>