<head th:fragment="base_header(title)" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8" />
    <link href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <script src="/static/jquery/jquery-3.3.1.min.js" th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
    <script src="/static/bootstrap/js/bootstrap.js" th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <!--自作CSS -->
    <title th:replace="${title}">The awesome application</title>
</head>