body {
  font-family : Rakuten Global B;
}

header {
  height : 50px;
}

.header-icon {
  font-size : 40px;
  padding : 10px 20px;
  float : left;
}

.header-list {
  font-size : 18px
  padding : 10px 20px;
  float : left;
}