#selfIntroduction {
    resize: vertical;
    overflow: auto;
    height: 100px;
}

body.loggedin { padding-top: 70px; }

.overflow-wrap-break {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.form-group.required label:after {
    content:"*";
    color:red;
}

.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 700px;
    background: url('../images/jumbo.jpg') no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.site-name {
    margin-bottom: 40px;
    font-family: 'K2D', sans-serif;
}

.imagePreview {
    width: 200px;
    height: 200px;
    background: no-repeat;
    background-size: contain;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;

}
.account-list th {
    white-space: nowrap;
    text-align: center;
}
.profile-image {
    text-align: center;
    margin: 0 auto;
}

.todo{
    margin: auto;
}
.todo-list{
    display: inline-block;
    position: relative;
    margin: 5px 0px 15px 10px;
}

.todo-list div.btn{
    text-align: center;
    width: 100%;
}

.todo-list img{
    width: 325px;
}

.todo-list div.text{
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(15% - 5px);
    color: #000000;
    font-size: 1.2em;
}
.todo-list p{
    padding: 0px 40px 0px 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.todo{
    margin: auto;
}
.todo-list{
    display: inline-block;
    position: relative;
    margin: 5px 0px 15px 10px;
}

.todo-list div.btn{
    text-align: center;
    width: 100%;
}

.todo-list img{
    width: 325px;
}

.todo-list div.text{
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(15% - 5px);
    color: #000000;
    font-size: 1.2em;
}
.todo-list p{
    padding: 0px 40px 0px 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.account-profile {
    display: inline-block;
    margin-left: -5px;
    margin-bottom: 25px;
    vertical-align:top;
}

.img-thumbnail img {
    width: 100%;
    height: 240px;
    object-fit: contain;
}

.img-thumbnail h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.img-thumbnail p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.img-thumbnail span {
    font-size: 0.9em;
}

/*
 * 天気予報
 */

.weather-contents {
    padding: 5px;
}
.weather-contents table {
    text-align: center;
}

/*
 * サイドバー
 */

.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 5px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    overflow-x: hidden;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}





