#selfIntroduction {
    resize: vertical;
    overflow: auto;
    height: 100px;
}

body.loggedin { padding-top: 70px; }

.overflow-wrap-break {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.form-group.required label:after {
    content:"*";
    color:red;
}

.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 700px;
    background: url(/images/jumbo.jpg) no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.site-name {
    margin-bottom: 40px;
    font-family: 'K2D', sans-serif;
}

.imagePreview {
    width: 200px;
    height: 200px;
    background: no-repeat;
    background-size: contain;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;

}
.todo{
    text-align: center;
}
.todo-list{
    display: inline-block;
    position: relative;
    margin: 5px 20px 15px 20px;
}

.todo-list div.text{
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(20% - 5px);
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 1.5em;
}
.todo-list p{
    padding: 0px 30px 0px 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

