#selfIntroduction {
    resize: vertical;
    overflow: auto;
    height: 100px;
}

body.loggedin { padding-top: 70px; }

.overflow-wrap-break {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.form-group.required label:after {
    content:"*";
    color:red;
}