<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <title>パスワード更新</title>
</head>
<body>

<nav th:replace="common/loggedinNav::navi(${accountName})"></nav>

<div class="container py-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center pb-4">パスワード更新</h2>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card rounded-0">
                        <div class="card-header bg-primary text-white">
                            <h3 class="mb-0">パスワード情報入力</h3>
                        </div>
                        <div class="card-body">
                            <form id="accountForm" th:action="@{/account/password/confirm}" th:object="${accountPasswordUpdateForm}" method="post">
                                <div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}">
                                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">共通エラーメッセージ表示エリア</p>
                                </div>
                                <fieldset id="account_field">
                                    <div class="form-group required" th:classappend="${#fields.hasErrors('currentPassword')}? 'has-error'">
                                        <label for="currentPassword">現在のパスワード</label><br/>
                                        <input class="form-control" id="currentPassword" type="password" maxlength="50" th:field="*{currentPassword}" name="currentPassword" required placeholder="現在のパスワードを入力してください"/>
                                        <span class="text-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">error!</span>
                                    </div>
                                    <div class="form-group required" th:classappend="${#fields.hasErrors('newPassword')||#fields.hasErrors('passwordValid')||#fields.hasErrors('newPasswordValid')}? 'has-error'">
                                        <label for="newPassword">新しいパスワード</label><br/>
                                        <input class="form-control" id="newPassword" type="password" maxlength="50" th:field="*{newPassword}" name="newPassword" required placeholder="新しいパスワードを入力してください"/>
                                        <small id="newPasswordHelp" class="form-text text-muted">パスワードは5文字以上、15文字以下かつ、半角の英小文字、英大文字、数字を1種類ずつ含めて入力してください。</small>
                                        <span class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">error!</span>
                                        <p class="text-danger" th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}">error!</p>
                                        <p class="text-danger" th:if="${#fields.hasErrors('newPasswordValid')}" th:errors="*{newPasswordValid}">error!</p>
                                    </div>
                                    <div class="form-group required" th:classappend="${#fields.hasErrors('passwordValid')}? 'has-error'">
                                        <label for="confirmPassword">新しいパスワード（確認）</label><br/>
                                        <input class="form-control" id="confirmPassword" type="password" maxlength="50" th:field="*{confirmPassword}" name="confirmPassword" required placeholder="確認のため、もう一度パスワードを入力してください"/>
                                    </div>
                                    <div class="col text-center">
                                        <input type="submit" value="確認画面へ" class="btn btn-primary btn-lg" />
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>