<!DOCTYPE html>

<title>アカウント登録確認</title>
<head>
    <meta charset="utf-8"/>
    <link href="./css/bootstrap.css" rel="stylesheet"/>
    <link href="./css/training.css" rel="stylesheet"/>
</head>
<body>



<div class="container py-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center pb-4">アカウント入力確認</h2>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card rounded-0 card-shadow">
                        <div class="card-header bg-custom1">
                            <h3 class="mb-0">アカウント入力確認</h3>
                        </div>
                        <div class="card-body">
                            <form id="accountForm" method="post">
                                <fieldset id="account_field">
                                    <div class="form-group">
                                        <label>ニックネーム</label><br/>
                                        <span class="form-control-static"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>E-mail</label><br/>
                                        <span class="form-control-static"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>所属部署・役職</label><br/>
                                        <span class="form-control-static"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>自己紹介</label><br/>
                                        <span class="form-control-static" id="selfIntroductionPreview"></span>
                                    </div>

                                    <input type="hidden" name="nickname" id="nickname"/>
                                    <input type="hidden" name="email" id="email"/>
                                    <input type="hidden" name="password" id="password"/>
                                    <input type="hidden" name="confirmPassword" id="confirmPassword"/>
                                    <input type="hidden" name="department_position" id="department_position"/>
                                    <input type="hidden" name="self_introduction" id="self_introduction"/>

                                    //画像挿入できるようにする
                                    <div class="col text-center">
                                        <div class="btn-group">
                                            <input type="button" name="registerBack" value="戻る" class="btn bg-custom3 btn-lg text-white "/>
                                        </div>
                                        <div class="btn-group">
                                            <input type="button" name="register" value="登録" class="btn bg-custom3 btn-lg text-white "/>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var selfIntroductionPreview = $('#selfIntroductionPreview').text();
        $('#selfIntroductionPreview').html(selfIntroductionPreview.replace(/[\n\r]/g, '<br>'));
    });
</script>

</body>
</html>