<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <title>アカウント情報更新</title>
</head>
<body>

<div class="container py-3">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h2 class="text-center pb-4">アカウント情報更新</h2>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card rounded-0 card-shadow">
                        <div class="card-header bg-custom1">
                            <h3 class="mb-0">更新内容入力</h3>
                        </div>
                        <div class="card-body bg-gray1">
                            <form id="accountForm" th:action="@{/top/setting/confirm}" th:object="${accountUpdateForm}" method="post">
                                <div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}">
                                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">共通エラーメッセージ表示エリア</p>
                                </div>

                                <fieldset id="account_field">

                                    <div class="form-group required" th:classappend="${#fields.hasErrors('nickname')}? 'has-error'">
                                        <label for="nickname">ニックネーム</label><br/>
                                        <input class="form-control" id="nickname" type="text" maxlength="45" name="nickname" th:field="*{nickname}" required/>
                                        <span class="text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">error!</span>
                                    </div>
                                    <div class="form-group required" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                                        <label for="email">E-mail</label><br/>
                                        <input class="form-control" id="email" type="text" maxlength="255" name="email" th:field="*{email}" required/>
                                        <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error!</span>
                                    </div>
                                    <div class="form-group required" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                                        <label for="password">新しいパスワード</label><br/>
                                        <input class="form-control" id="password" type="password" maxlength="50" th:field="*{password}" name="password" required placeholder="新しいパスワードを入力してください"/>
                                        <small id="passwordHelp" class="form-text text-muted">パスワードは5文字以上、15文字以下かつ、半角の英小文字、英大文字、数字を1種類ずつ含めて入力してください。</small>
                                        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error!</span>
                                  </div>
                                    <div class="form-group required" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error'">
                                        <label for="confirmPassword">新しいパスワード（確認）</label><br/>
                                        <input class="form-control" id="confirmPassword" type="password" maxlength="50" th:field="*{confirmPassword}" name="confirmPassword" required placeholder="確認のため、もう一度パスワードを入力してください"/>
                                        <span class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">error!</span>
                                    </div>
                                    <div class="form-group required" th:classappend="${#fields.hasErrors('department_position')}? 'has-error'">
                                        <label for="department_position">部署・役職</label><br/>
                                        <input class="form-control" id="department_position" type="text" maxlength="255" name="department_position" th:field="*{department_position}" required/>
                                        <span class="text-danger" th:if="${#fields.hasErrors('department_position')}" th:errors="*{department_position}">error!</span>
                                    </div>
                                    <div class="form-group required" th:classappend="${#fields.hasErrors('selfIntroduction')}? 'has-error'">
                                        <label for="selfIntroduction">自己紹介</label><br/>
                                        <textarea class="form-control selfIntroduction" id="selfIntroduction" rows="3" cols="80" maxlength="255" name="selfIntroduction" th:field="*{selfIntroduction}" required></textarea>
                                        <span class="text-danger" th:if="${#fields.hasErrors('selfIntroduction')}" th:errors="*{selfIntroduction}">error!</span>
                                    </div>
                                    <div class="col text-center">
                                        <input type="submit" value="確認画面へ" class="btn btn-info text-white btn-lg"/>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="common/common_footer"></footer>
</body>
</html>