<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link href="../static/css/training.css" rel="stylesheet"/>
    <title>アカウント登録画面</title>
</head>
<body>

<div class="container py-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center pb-4">アカウント登録</h2>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card rounded-0 card-shadow">
                        <div class="card-header bg-custom1">
                            <h3 class="mb-0">アカウント情報入力</h3>
                        </div>
                        <div class="card-body">
                            <form id="accountForm" th:action="@{/account/register/confirm}" th:object="${accountRegisterForm}" method="post">
                                <fieldset id="account_field">
                                    <div class="form-group required" th:classappend="${#fields.hasErrors('nickname')}? 'has-error'">

                                        <label for="nickname">ニックネーム</label><br/>
                                        <input class="form-control" id="nickname" type="text" maxlength="15" th:field="*{nickname}" name="nickname" required placeholder="ニックネームを入力してください"/>
                                        <small id="accountidhelp" class="form-text text-muted">ニックネームは半角英数字3文字以上15文字以内で入力してください。</small>
                                        <span class="text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">error!</span>
                                    </div>

                                    <div class="form-group required" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                                        <label for="email">E-mail</label><br/>
                                        <input class="form-control" id="email" type="text" maxlength="50" th:field="*{email}" name="email" required placeholder="メールアドレスを入力してください"/>
                                        <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error!</span>
                                    </div>

                                    <div class="form-group required" th:classappend="${#fields.hasErrors('password')||#fields.hasErrors('passwordValid')}? 'has-error'">
                                        <label for="password">パスワード</label><br/>
                                        <input class="form-control" id="password" type="password" maxlength="50" th:field="*{password}" name="password" required placeholder="パスワードを入力してください"/>
                                        <small id="passwordhelp" class="form-text text-muted">パスワードは5文字以上、15文字以下かつ、半角の英小文字、英大文字、数字を1種類ずつ含めて入力してください。</small>
                                        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error!</span>
                                        <p class="text-danger" th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}">error!</p>
                                    </div>
                                    <div class="form-group required" th:classappend="${#fields.hasErrors('passwordValid')}? 'has-error'">
                                        <label for="confirmPassword">パスワード（確認）</label><br/>
                                        <input class="form-control" id="confirmPassword" type="password" maxlength="50" th:field="*{confirmPassword}" name="confirmPassword" required placeholder="確認のため、もう一度パスワードを入力してください"/>
                                    </div>

                                    <!-- 変更点　変数に注意 -->
                                    <div class="form-group required" th:classappend="${#fields.hasErrors('department_position')}? 'has-error'">
                                        <label for="department_position">所属部署・役職</label><br/>
                                        <input class="form-control" id="department_position" type="text" maxlength="45" th:field="*{department_position}" name="department_position" required placeholder="部署・役職を入力してください。"/>
                                        <span class="text-danger" th:if="${#fields.hasErrors('department_position')}" th:errors="*{department_position}">error!</span>
                                    </div>

                                    <div class="form-group required" th:classappend="${#fields.hasErrors('selfIntroduction')}? 'has-error'">
                                        <label for="selfIntroduction">自己紹介</label><br/>
                                        <textarea class="form-control selfIntroduction" id="selfIntroduction" rows="3" cols="80" maxlength="255" th:field="*{selfIntroduction}" name="selfIntroduction" required placeholder="自己紹介を入力してください"></textarea>
                                        <span class="text-danger" th:if="${#fields.hasErrors('selfIntroduction')}" th:errors="*{selfIntroduction}">error!</span>
                                    </div>

                                    <div class="col text-center">
                                        <input type="submit" value="確認画面へ" class="btn bg-custom3 btn-lg text-white" />
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>