<!DOCTYPE html>
<html>
<head>
<link href="../static/css/bootstrap.css" rel="stylesheet"/>
<link href="../static//css/training.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>トップ</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>トップ画面</h2>
            <input type="button" class="btn btn-primary" value="マッチ開始">
            <input type="button" class="btn btn-primary" value="履歴確認">
            <input type="button" class="btn btn-primary" value="プロフィール更新">
        </div>
        <div class="col-3"></div>
    </div>
</div>
</body>
</html>