<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
<!--<meta name="_login_id" th:content="${session.accounts.accountId}"/>-->
<head th:replace="common/common_header::base_header(~{::title})">
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link href="../static//css/training.css" rel="stylesheet"/>
    <meta charset="UTF-8">

    <title>トップ</title>
</head>

<body>
<nav th:replace="common/loggedinNav::navi(${accountId})"></nav>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>トップ画面</h2>
            <span><i class="far fa-address-card">&nbsp;</i>アカウント機能</span>

            <li class="nav-item">
                <a href="/top/matching1" class="nav-link">マッチ開始</a>
            </li>


        </div>
        <div class="col-3"></div>
    </div>
</div>
</body>
</html>