<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link href="../static/css/bootstrap.css" rel="stylesheet"/>
<link href="../static//css/training.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>トップ</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>トップ画面</h2>
            <form id="matchStart" method="post" th:action="@{/top/matching1}" th:object="${}">
                <input type="submit" class="btn btn-primary" value="マッチ開始">
            </form>
            <form id="historyCheck" method="post" th:action="@{/top/history}" th:object="${}">
                <input type="submit" class="btn btn-primary" value="履歴確認">
            </form>
            <form id="accountUpdate" method="post" th:action="@{/top/setting}" th:object="${}">
                <input type="submit" class="btn btn-primary" value="プロフィール更新">
            </form>



        </div>
        <div class="col-3"></div>
    </div>
</div>
</body>
</html>