<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">

    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <meta charset="UTF-8">

    <title>ログイン</title>
</head>
<body style="background-color:#eeeeee;">

<nav th:replace="common/noLoginNav"></nav>

<div class="jumbotron jumbotron-extend" style="margin-bottom: 0px;">

<div class="container py-5">
    <!--Grid row-->
    <div class="row pt-3">

        <div class="col-md-6 col-xl-5 mb-4">
            <div class="card rounded">
                <div class="card-header bg-custom1">
                    <h3 class="mb-0">Login</h3>
                </div>
                <div th:if="${param.error}" class="alert alert-danger">
                    アカウントID、またはパスワードが誤っています。
                </div>
                <div class="card-body">
                    <form id="login_form" method="post" th:action="@{'/login'}">
                        <div class="form-group required">
                            <label for="login_email">E-mail</label>
                            <input type="text" class="form-control  form-control-lg rounded" id="login_email" name="login_email" placeholder="メールアドレス" autofocus required/>
                            <div class="invalid-feedback">Oops, you missed this one.</div>
                        </div>
                        <div class="form-group required">
                            <label for="login_password">パスワード</label>
                            <input type="password" class="form-control form-control-lg rounded" id="login_password" name="login_password" placeholder="パスワード" required />
                            <div class="invalid-feedback">Enter your password too!</div>
                        </div>
                        <div class="form-group">
                            <input id="login" type="submit" value="ログイン" class="btn btn-block btn-lg center-block bg-custom3 text-white" />
                        </div>
                    </form>
                    <form id="account_form" method="post" th:action="@{'/account/register/init'}">
                        <input id="accountRegister" type="submit" value="アカウント登録" class="btn btn-block btn-lg bg-custom3 center-block text-white" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<footer th:replace="common/common_footer"></footer>
</body>
</html>