<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link href="../static/css/training.css" rel="stylesheet"/>
    <!--<nav th:replace="common/noLoginNav"></nav>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co"/>
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>
    <meta name="author" content="freehtml5.co"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet"
    >

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/loginForm.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<title>Login</title>
<body>

<!--<div class="fh5co-loader"></div>-->

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container-wrap">
            <div class="top-menu">
                <div class="row">
                    <div class="col-md-12 col-offset-0 text-center">
                        <div id="fh5co-logo"><a>
                            <image src="images/logo.gif" width="20%" height="20%"></image>
                            <br></a></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-wrap">
        <aside id="fh5co-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(images/cafeteria2.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-3 text-center slider-text">
                                    <div class="slider-text-inner">

                                        <div class="col-md-12 col-xl-5 mb-4">
                                            <div class="cardlogin">
                                                <div class="card-header bg-custom1">
                                                    <h3 class="mb-0">Login</h3>
                                                </div>
                                                <div th:if="${param.error}" class="alert alert-danger">
                                                    Oops, you missed E-mail or Password
                                                </div>
                                                <div class="card-body">
                                                    <form id="login_form" method="post" th:action="@{'/login'}">
                                                        <div class="form-group ">
                                                            <label for="login_id">E-mail</label>
                                                            <input type="text"
                                                                   class="form-control  form-control-lg rounded"
                                                                   id="login_id" name="login_id" placeholder="E-mail"
                                                                   autofocus required/>
                                                            <div class="invalid-feedback">Oops, you missed this one.
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="login_password">Password</label>
                                                            <input type="password"
                                                                   class="form-control form-control-lg rounded"
                                                                   id="login_password" name="login_password"
                                                                   placeholder="Password" required/>
                                                            <div class="invalid-feedback">Enter your password too!</div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input id="login" type="submit" value="Login"
                                                                   class="btn btn-block btn-lg center-block bg-custom3 text-white"/>
                                                        </div>
                                                    </form>
                                                    <form id="account_form" method="post"
                                                          th:action="@{'/account/register/init'}">
                                                        <input id="accountRegister" type="submit"
                                                               value="Create a new account"
                                                               class="btn btn-block btn-lg bg-custom3 center-block text-white"/>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--                                        <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>-->
                        </div>
                    </li>
                </ul>
            </div>
        </aside>


        <!--        <div class="jumbotron jumbotron-extend" style="margin-bottom: 0px;">-->

        <!--            <div class="container py-5">-->
        <!--                &lt;!&ndash;Grid row&ndash;&gt;-->
        <!--                <div class="row pt-3">-->

        <!--                    <div class="col-md-6 col-xl-5 mb-4">-->
        <!--                        <div class="card rounded">-->
        <!--                            <div class="card-header bg-custom1">-->
        <!--                                <h3 class="mb-0">Login</h3>-->
        <!--                            </div>-->
        <!--                            <div th:if="${param.error}" class="alert alert-danger">-->
        <!--                                Oops, you missed E-mail or Password-->
        <!--                            </div>-->
        <!--                            <div class="card-body">-->
        <!--                                <form id="login_form" method="post" th:action="@{'/login'}">-->
        <!--                                    <div class="form-group required">-->
        <!--                                        <label for="login_id">E-mail</label>-->
        <!--                                        <input type="text" class="form-control  form-control-lg rounded" id="login_id" name="login_id" placeholder="E-mail" autofocus required/>-->
        <!--                                        <div class="invalid-feedback">Oops, you missed this one.</div>-->
        <!--                                    </div>-->
        <!--                                    <div class="form-group required">-->
        <!--                                        <label for="login_password">Password</label>-->
        <!--                                        <input type="password" class="form-control form-control-lg rounded" id="login_password" name="login_password" placeholder="Password" required />-->
        <!--                                        <div class="invalid-feedback">Enter your password too!</div>-->
        <!--                                    </div>-->
        <!--                                    <div class="form-group">-->
        <!--                                        <input id="login" type="submit" value="Login" class="btn btn-block btn-lg center-block bg-custom3 text-white" />-->
        <!--                                    </div>-->
        <!--                                </form>-->
        <!--                                <form id="account_form" method="post" th:action="@{'/account/register/init'}">-->
        <!--                                    <input id="accountRegister" type="submit" value="Create a new account" class="btn btn-block btn-lg bg-custom3 center-block text-white" />-->
        <!--                                </form>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="container-wrap">

            <footer id="fh5co-footer" role="contentinfo">
                <div class="col-md-4 text-center">
                    <!--                    <h3>198 West 21th Street, Suite 721 New York NY 10016</h3>-->
                </div>
                <div class="col-md-20 text-center">
                    <h2><a href="#">楽天食卓</a></h2>
                </div>
                <div class="col-md-4 text-center">
                    <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter2"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                    </ul>
                    </p>
                </div>
                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; 2019 楽天食卓 Food's Next All Rights Reserved.</small>
                            <small class="block">Designed by <a href=""
                                                                target="_blank">Mrs.Another Sky</a>
                                <!--                                Demo Images: <a-->
                                <!--                                    href="http://unsplash.co/" target="_blank">Unsplash</a></small>-->
                            </small>
                        </p>

                    </div>
                </div>
            </footer>
        </div><!-- END container-wrap -->
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="js/jquery.flexslider-min.js"></script>
<!-- Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Counters -->
<script src="js/jquery.countTo.js"></script>
<!-- Main -->
<script src="js/main.js"></script>

</body>
</html>
