<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static//css/bootstrap.css" rel="stylesheet"/>
    <link href="../static//css/training.css" rel="stylesheet"/>
    <title>マッチング待機</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">

                <div class="card-body">
                    <h2 class="card-title">マッチング待機画面</h2>
                    <h4 class="card-text">00:00</h4>
                    <input type="button" value="マッチング確認へ" class="btn bg-custom3 btn-lg text-white"/>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>