<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link href="../static/css/training.css" rel="stylesheet"/>
    <title>アカウント登録画面</title>
</head>

<body>
    <div class="container">
        <div class=" text-center center-block">
            <h1>★結果表示★</h1>
            <div id="images" class="img-fluid"></div>
                <p th:text="${partnername}"></p>
                <p th:text="${partnerDepartmentPosition}"></p>
                <p th:text="${partnerSelfIntroduction}"></p>
        </div>
    </div>

</body>
</html>