<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../../static/css/magnific-popup.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="../../static/css/flexslider.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="../../static/css/anotherTop.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="../../static/js/respond.min.js"></script>
    <script src="../../static/js/anotherTop.min.js"></script>
    <![endif]-->
    <meta charset="UTF-8"/>
    <title>トップ</title>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="logo">
                <img src="../../static/images/27ロゴ.png">
            </div>
        </div>

        <div class="col-3"></div>
        <div class="col-5">
            <nav>
                <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FCE598;">
                    <div class="collapse navbar-collapse border-bottom border-dark" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/top">Home   <span class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/top/setting/init">Account Update   <span class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/top/password/init">Update Password   </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/top/upload/init">Upload Image</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </nav>

        </div>
    </div>
</div>

<div class="col-md-12 col-md-offset-3 text-center">

    <a href="/top/matching1"><i class="fab fa-weixin my-big"></i></a>
    <h1>Let's start matching!!</h1>
    <div class="conceptText">

    <h1>Food's Next</h1>
    <p>We value each connection among people.<br>
        "One Team" It's our goal<br>
        Using 楽天食卓 can be your one option for finding friends<br>
        They may be behind you...</p>

    </div>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
    a<br>
</div>

</body>
</html>