<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <title>トップ</title>
</head>
<body>

<nav th:replace="common/loggedinNav::navi(${accountName})"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 bg-faded sidebar">
            <div class="list-group list-group-flush">
                <a href="/account/update/init" class="list-group-item list-group-item-action">アカウント情報更新</a>
                <a href="/account/search/init" class="list-group-item list-group-item-action">アカウント一覧検索</a>
                <a href="/account/search/paging/init" class="list-group-item list-group-item-action">アカウント一覧検索(参考：ページング)</a>
                <a href="/account/upload/init" class="list-group-item list-group-item-action">プロフィール画像アップロード</a>
                <a href="/account/unsubscribe/init" class="list-group-item list-group-item-action">退会</a>
                <a href="/todo/register/init" class="list-group-item list-group-item-action">TODO登録</a>
                <a href="/todo/search/init" class="list-group-item list-group-item-action">TODO一覧検索</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card rounded-0">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">アカウント機能の使い方</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>自身のユーザ情報を変更したい場合は、サイドメニューからアカウント情報更新画面に遷移してください。</li>
                        <li>他のユーザ情報を検索したい場合は、サイドメニューからアカウント検索画面に遷移してください。</li>
                        <li>退会したい場合は、メニューから退会画面に遷移してください。</li>
                    </ul>
                </div>
            </div>

            <div class="card rounded-0">
                <div class="card-header bg-info text-white">
                    <h3 class="mb-0">天気予報</h3>
                </div>
                <div class="card-body">
                    <div id="weather_contents" class="weather_contents">
                        <!-- 天気予報取得  -->
                        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                        <script>
                            $.getJSON("/weather", function(json){
                                var t_data  = json.forecasts[0];
                                var n_data = json.forecasts[1];
                                var src = '本日の天気<div class="thumb"><span><img src="' + t_data.image.url + '" alt=""></span></div>';
                                var tday_min = $.isEmptyObject(t_data.temperature.min) ? "none" : t_data.temperature.min.celsius;
                                var tday_max = $.isEmptyObject(t_data.temperature.max) ? "none" : t_data.temperature.max.celsius;
                                src += '<p>' + t_data.telop + '</p>';
                                src += '<p>最高:' + tday_max + '最低:' + tday_min + '</p>';
                                
                                src += '明日の天気<div class="thumb"><span><img src="' + n_data.image.url + '" alt=""></span></div>';
                                var nday_min = $.isEmptyObject(n_data.temperature.min) ? "none" : n_data.temperature.min.celsius;
                                var nday_max = $.isEmptyObject(n_data.temperature.max) ? "none" : n_data.temperature.max.celsius;
                                src += '<p>' + n_data.telop + '</p>';
                                src += '<p>最高:' + nday_max + '最低:' + nday_min + '</p>';
                                src += '<p>' + json.description.text + '</p>';
                                $('#weather_contents').append(src);
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="card rounded-0">
                <div class="card-header bg-info text-white">
                    <h3 class="mb-0">チャット</h3>
                </div>
                <div class="card-body">
                    <form id="commentForm" method="post">
                        <fieldset id="comment_field">
                            <textarea class="" id="comment" rows="3" cols="80" maxlength="255" name="comment" required placeholder="メンバーとお話してみよう"></textarea>
                        </fieldset>
                        <div class="col text-center">
                            <input type="submit" value="投稿" class="btn btn-primary btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#commentForm").submit(function(){
        var data = $("#commentForm").serializeArray();
        data = parseJson(data);

        var ajaxUrl = "/comment/register/register";

        $.ajax({
            type:          'post',
            url:          'ajaxUrl',
            dataType:      'json',
            contentType:   'application/json',
            data:          JSON.stringify(data)
        })
    }

    var parseJson = function(data) {
        var returnJson = {};
        for (idx = 0; idx < data.length; idx++) {
            returnJson[data[idx].name] = data[idx].value
        }
        return returnJson;
    }

</script>

</body>
</html>