<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common_header::base_header(~{::title})">
<title>トップ</title>
</head>
<body>

<div class="container-fluid bg-image">
    <div class="row bg-mask">
        <!-- 左サイドバー -->
        <div class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <h4 class="sidebar-heading d-flex align-items-center px-3 mt-3 mb-1 text-muted">
                        <span><i class="far fa-address-card">&nbsp;</i>アカウント機能</span>
                    </h4>
                    <li class="nav-item">
                        <a href="/top/setting/init" class="nav-link">アカウント情報更新</a>
                    </li>
                    <li class="nav-item">
                        <a href="/top/password/init" class="nav-link">パスワード更新</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/upload/init" class="nav-link">画像アップロード</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

</body>
</html>