<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::base_header(~{::title})">
    <title>トップ</title>
</head>
<body>

<nav th:replace="common/loggedinNav::navi(${accountName})"></nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-2 col-md-2 bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>アカウント機能</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                        </a>
                    </h6>

                    <li class="nav-item">
                        <a href="/account/update/init" class="nav-link">
                            <i class="far fa-address-card"></i>
                            アカウント情報更新
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/search/init" class="nav-link">
                            <i class="far fa-address-card"></i>
                            アカウント一覧検索
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/search/paging/init" class="nav-link">
                            <i class="far fa-address-card"></i>
                            アカウント一覧検索<small>(参考：ページング)</small>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/upload/init" class="nav-link">
                            <i class="far fa-address-card"></i>
                            プロフィール画像アップロード</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/unsubscribe/init" class="nav-link">
                            <i class="far fa-address-card"></i>
                            退会
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>TODO機能</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a href="/todo/register/init" class="nav-link">
                            <i class="fas fa-tasks"></i>
                            TODO登録
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/todo/search/init" class="nav-link">
                            <i class="fas fa-tasks"></i>
                            TODO一覧検索
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>天気予報</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                    </a>
                </h6>
                <div class="weather-contents">
                    <table class="table-light">
                        <tr>
                            <th>本日</th>
                            <th>明日</th>
                        </tr>
                        <tr>
                            <td class="tday-img"></td>
                            <td class="nday-img"></td>
                        </tr>
                        <tr>
                            <td class="tday-text"></td>
                            <td class="nday-text"></td>
                        </tr>
                        <tr>
                            <td class="tday-temp"></td>
                            <td class="nday-temp"></td>
                        </tr>
                    </table>
                </div>

            </div>
        </nav>

        <div class="col-md-10">
            <div class="card rounded-0">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">アカウント機能の使い方</h3>
                </div>
                <div class="card-body">

                    <ul>
                        <li>自身のユーザ情報を変更したい場合は、サイドメニューからアカウント情報更新画面に遷移してください。</li>
                        <li>他のユーザ情報を検索したい場合は、サイドメニューからアカウント検索画面に遷移してください。</li>
                        <li>退会したい場合は、メニューから退会画面に遷移してください。</li>
                    </ul>
                </div>

            </div>
            <!-- TODOリスト -->
            <div class="card rounded-0" th:if="!${#lists.isEmpty(list)}">
                <div class="card-header bg-info text-white">
                    <h3 class="mb-0">現在担当しているTODO</h3>
                </div>
                <div class="card-body">
                    <div class="todo">
                        <div th:each="todo : ${list}" class="todo-list">
                            <img src="/images/memo.png">
                            <div class="text">
                                <p th:text="${todo.title}"></p>
                                <p th:text="'開始日:' + ${todo.startDate}"></p>
                                <p th:text="'終了日:' + ${todo.endDate}"></p>
                                <p th:text="'優先度:' + ${allPriority.priority.get(todo.priority)}"></p>
                                <p th:text="'ステータス:' + ${allStatus.status.get(todo.status)}"></p>
                                <div class="btn">
                                    <a class="btn btn-info" th:href="@{/todo/search/detail(todoId=${todo.id})}" target="newtab">詳細を見る</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- 天気予報取得処理  -->
<script>
    $.getJSON("/weather", function(json){
        var t_data  = json.forecasts[0];
        var n_data = json.forecasts[1];
        var tday_min = $.isEmptyObject(t_data.temperature.min) ? "-" : t_data.temperature.min.celsius;
        var tday_max = $.isEmptyObject(t_data.temperature.max) ? "-" : t_data.temperature.max.celsius;
        var nday_min = $.isEmptyObject(n_data.temperature.min) ? "-" : n_data.temperature.min.celsius;
        var nday_max = $.isEmptyObject(n_data.temperature.max) ? "-" : n_data.temperature.max.celsius;
        $('.tday-img').append('<img src="' + t_data.image.url + '" >');
        $('.nday-img').append('<img src="' + n_data.image.url + '" >');
        $('.tday-text').append(t_data.telop);
        $('.nday-text').append(n_data.telop);
        $('.tday-temp').append(tday_max + '/' +  tday_min + '℃');
        $('.nday-temp').append(nday_max + '/' +  nday_min + '℃');
    });
</script>
</body>
</html>